<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/latest/"/>
<repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/branches/release5.2.0/"/>
